<h1 id="category">Phân loại hàng hóa</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr class="text-center">
      <th>id</th>
      <th>name</th>
      <th>control</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < data.length; i++) { %>
    <tr>
      <td><%= data[i].id %></td>
      <td><%= data[i].name %></td>
      <td class="text-end">
        <button>delete <%-data[i].username%></button>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>